.card {
  border-radius: 14px;
  width: 352px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);

  &__body {
    background-color: var(--body);
  }
}

.pokemon {
  display: grid;
  justify-items: center;
  gap: 12px;

  &__image-container {
    margin-top: -106px;
    border-radius: 9em;
    padding: 16px;
    width: 212px;
    background-color: var(--picture);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    overflow: hidden;
  }

  &__name {
    text-transform: capitalize;
  }

  &__hp {
    font-weight: 500;
    font-size: 15px;
  }
}
