.loadingBar {
  display: flex;
  align-items: center;
  border-radius: 9em;
  width: 180px;
  height: 16px;
  background-color: rgba(254, 227, 220, 0.6);
  overflow: hidden;

  &__progress {
    width: 0;
    height: inherit;
    background-color: #621f55;

    animation-name: progress;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }
}

@keyframes progress {
  to {
    width: inherit;
  }
}

.card {
  border-radius: 14px;
  width: 352px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);

  &__body {
    background-color: var(--body);
  }
}

.pokemon {
  display: grid;
  justify-items: center;
  gap: 12px;

  &__image-container {
    margin-top: -106px;
    border-radius: 9em;
    padding: 16px;
    width: 212px;
    background-color: var(--picture);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    overflow: hidden;
  }

  &__name {
    text-transform: capitalize;
  }

  &__hp {
    font-weight: 500;
    font-size: 15px;
  }

  &__types {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #fff;
  }

  &__type {
    border: 1px solid var(--border-type);
    border-radius: 5px;
    padding: 5px 0;
    width: 74px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 2px #000;
    box-sizing: content-box;
  }
}
