@import url('/assets/fonts/flexo/stylesheet.css');

:root {
  /* Main colors */
  --background: rgb(59, 103, 125);
  --titles: hsl(229, 23%, 23%);
  --text: hsl(227, 10%, 46%);

  /* Card colors */
  --body: hsl(40, 80%, 93%);
  --picture: hsl(33, 61%, 88%);
  --border-type: hsl(0, 0%, 64%);

  /* Types colors */
  --bug: hsl(72, 48%, 44%);
  --dark: hsl(0, 0%, 36%);
  --dragon: hsl(262, 92%, 56%);
  --electric: hsl(52, 88%, 44%);
  --fairy: hsl(318, 92%, 72%);
  --fighting: hsl(8, 60%, 40%);
  --fire: hsl(24, 98%, 52%);
  --flying: hsl(184, 48%, 56%);
  --ghost: hsl(262, 24%, 52%);
  --grass: hsl(92, 52%, 40%);
  --ground: hsl(44, 40%, 36%);
  --ice: hsl(196, 76%, 52%);
  --normal: hsl(197, 4%, 64%);
  --poison: hsl(262, 96%, 56%);
  --psychic: hsl(325, 96%, 60%);
  --rock: hsl(48, 52%, 44%);
  --steel: hsl(180, 15%, 60%);
  --water: hsl(204, 52%, 48%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
  min-height: 100vh;
  background-color: var(--background);
  background-image: url('/assets/icons/bg-pattern-top.svg'),
    url('/assets/icons/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  color: var(--text);
  font-family: 'Flexo', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

picture {
  display: flex;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 18px;
  color: var(--titles);
}

@media (min-width: 600px) {
  body {
    background-position: right 57.5vw bottom 57.5vh, left 57.5vw top 57.5vh;
  }
}

@media (min-width: 768px) {
  body {
    background-position: right 65vw bottom 65vh, left 65vw top 65vh;
  }
}
